<template>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">

                    <i class="i-Calendar">
                    </i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0">
                        Citas
                    </p>
                    <p class="text-primary text-24 line-height-1 mb-2">
                        {{num_citas}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-body p-0">
                <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                    <span>
                        Citas
                    </span>
                    <span class="flex-grow-1">
                    </span>
                    <button class="btn btn-info  btn-sm" @click="mostrarModal()">
                        Agregar
                    </button>
                </div>
                <div v-for="cita in citas">
                    <div class="d-flex border-bottom justify-content-between p-3">
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">
                                Fecha
                            </span>
                            <h5 class="m-0">
                                {{ cita.fecha }}
                            </h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">
                                Hora Inicio
                            </span>
                            <h5 class="m-0">
                                {{ cita.hora_inicio }}
                            </h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">
                                Hora Fin
                            </span>
                            <h5 class="m-0">
                                {{ cita.hora_fin }}
                            </h5>
                        </div>
                         <div class="flex-grow-1">
                            <span class="text-small text-muted">
                                Estatus
                            </span>
                            <h5 class="m-0">
                            <estatus :estatus="cita.status"></estatus>
                            </h5>
                        </div>
                        <div class="flex-grow-1">
                            <button class="btn btn-sm btn-info" data-id="false" :id="'btnMostrar'+cita.id" :value="cita.id"  v-on:click="mostrar(cita.id)">
                                Mostrar observaciones
                            </button>

                        </div>
                    </div>
                    <div class="border-bottom justify-content-between p-3 div_observaciones"  :id="'div'+cita.id" :name="'div'+cita.id" :data-id="cita.id">
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">
                                Observaciones
                            </span>
                            <h5 class="m-0">
                                {{ cita.comentarios }}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="agrega_cita_paciente" v-on:submit.prevent="saveForm()" method="post">
            <input type="hidden" :value="paciente_id"  name="p_id"  v-model="cita.p_id" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" id="fecha-Inicio">
                        <div class="form-group">
                            <label for="">
                                Fecha
                            </label>
                            <input class="form-control text-capitalize" v-model="cita.fecha" id="ct_fecha" name="fecha_inicio" placeholder="Fecha de finalización" required="" type="date">
                            </input>
                            <span class="badge badge-danger" v-if="errors.fecha" v-for="error in errors.fecha">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Hora de inicio
                            </label>
                            <input class="form-control text-capitalize" v-model="cita.hora_inicio" id="horaInicio" name="hora_inicio" type="time">
                            </input>
                            <span class="badge badge-danger" v-if="errors.hora_inicio" v-for="error in errors.hora_inicio">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">
                                Hora de finalización
                            </label>
                            <input class="form-control text-capitalize" v-model="cita.hora_fin" id="horaFin" name="hora_fin" type="time">
                            </input>
                            <span class="badge badge-danger" v-if="errors.hora_fin" v-for="error in errors.hora_fin">{{error}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">
                                Comentarios
                            </label>
                            <textarea class="form-control" cols="30" v-model="cita.comentarios" placeholder="Comentarios" id="comentarios" name="comentarios" rows="3">
                            </textarea>
                            <span class="badge badge-danger" v-if="errors.comentarios" v-for="error in errors.comentarios">{{error}}</span>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">
                                Estatus
                            </label>
                            <select class="form-control" v-model="cita.status" id="status" name="status">
                                <option value="">Selecciona una opcion</option>
                                <option value="0">
                                    Pendiente
                                </option>
                                <option value="1">
                                    En proceso
                                </option>
                                <option value="2">
                                    Cancelada
                                </option>
                                <option value="3">
                                    Finalizada
                                </option>
                                <option value="4">
                                    Re programanda
                                </option>
                            </select>
                            <span class="label label-danger">
                                <strong class="error-status errors">
                                </strong>
                            </span>
                        </div>
                    </div>
                </div>-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guarcar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
</div>

</template>

<script>
    import EstatusComponent from '../components/EstatusComponent.vue'
    export default {
        components:{
            'estatus': EstatusComponent
        },
        data(){
            return {
                paciente_id: $('#paciente_id').val(),
                citas: null,
                num_citas : null,
                btn_id:null,
                mostrar_obs: '',
                validar: '',
                cita:{
                    fecha:'',
                    hora_inicio:'',
                    hora_fin:'',
                    comentarios:'',
                    p_id:'',
                },
                errors: []
            }
        },
        mounted() {
           this.listarCitas();
        },

        methods:{
            listarCitas(){
                 axios.get('get-citas', {
                }).then((response) => {
                    this.citas = response.data.citas;
                    this.num_citas = response.data.count;
                }).catch((error) => {
                    console.error(error);
                });
            },
            mostrar(id){
                this.btn_id = $('#btnMostrar'+id).attr('value');
                this.validar = $('#btnMostrar'+id).attr('data-id');
                if (this.validar == 'false') {
                    this.mostrar_obs = $('#btnMostrar'+id).attr('data-id', 'true');
                    $('#btnMostrar'+id).html('Ocultar observaciones');
                    $('#btnMostrar'+id).removeClass('btn-info');
                    $('#btnMostrar'+id).addClass('btn-danger');
                    $('#div'+id).css('display','block');
                }else {
                    this.mostrar_obs = $('#btnMostrar'+id).attr('data-id', 'false');
                    $('#btnMostrar'+id).html('Mostrar observaciones');
                    $('#btnMostrar'+id).removeClass('btn-danger');
                    $('#btnMostrar'+id).addClass('btn-info');
                    $('#div'+id).css('display','none');
                }
            },
            mostrarModal(){
                $('#modalCita').modal('show');
            },
            saveForm(){
                this.errors = [];
                axios.post('cita', this.cita)
                .then((res) => {
                    if (res.data.errors) {
                        this.errors = res.data.errors
                    }
                    
                }).catch((error) => {
                    console.error(error.response.data);
                });
            }
        },
    }
</script>
<style>
    .div_observaciones{
        display: none;
    }
</style>
