<template>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                <i class="i-Add-User">
                </i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0">
                        Tratamientos
                    </p>
                    <p class="text-primary text-24 line-height-1 mb-2">
                        10
                    </p>
                </div>
            </div>
        </div>
    </div>
   
</div>

</template>

<script>
    export default {
        data(){
            return {
                data: null,
            }
        },
        mounted() {
            axios.get('data-paciente', {
            }).then((response) => {
              this.data = response.data.user;
            }).catch((error) => {
              console.error(error);
            });
        }
    }
</script>

