<template>
    <div>
        <span class="badge" :class="label">
            {{ text }}
        </span>
    </div>
</template>
<script>
export default {
    props: ['estatus'],
    data(){
        return {
            label: '',
            text:'',
            res: this.estatus,
        }
    },
    mounted(){
        // this.res = estatus;
        // console.log(this.res);
        switch(this.res){
            case '1':
                this.label = 'badge-success';
                this.text = 'En proceso'
                break;
            case '2':
                this.label = 'badge-danger';
                this.text = 'Cancelada'
                break;
            case '3':
                this.label = 'badge-secondary';
                this.text = 'Finalizada'
                break;
            case '4':
                this.label = 'badge-primary';
                this.text = 'Reprogramada'
                break;
            default:
                this.label = 'badge-info';
                this.text = 'Pendiente'
                break;
        }
    },
    methods: {
        // pintarEstatus{

        // }
    },
}

</script>

