<template>
<div class="row">
    <!-- ICON BG-->
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                <i class="i-Add-User">
                </i>
                <div class="content">
                    <p class="text-muted mt-2 mb-0">
                        Tratamientos
                    </p>
                    <p class="text-primary text-24 line-height-1 mb-2">
                        10
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-body p-0">
                <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                    <span>
                        User activity
                    </span>
                    <span class="flex-grow-1">
                    </span>
                    <span class="badge badge-pill badge-warning">
                        Updated daily
                    </span>
                </div>
                <div class="d-flex border-bottom justify-content-between p-3">
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            Pages / Visit
                        </span>
                        <h5 class="m-0">
                            2065
                        </h5>
                    </div>
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            New user
                        </span>
                        <h5 class="m-0">
                            465
                        </h5>
                    </div>
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            Last week
                        </span>
                        <h5 class="m-0">
                            23456
                        </h5>
                    </div>
                </div>
                <div class="d-flex border-bottom justify-content-between p-3">
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            Pages / Visit
                        </span>
                        <h5 class="m-0">
                            1829
                        </h5>
                    </div>
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            New user
                        </span>
                        <h5 class="m-0">
                            735
                        </h5>
                    </div>
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            Last week
                        </span>
                        <h5 class="m-0">
                            92565
                        </h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between p-3">
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            Pages / Visit
                        </span>
                        <h5 class="m-0">
                            3165
                        </h5>
                    </div>
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            New user
                        </span>
                        <h5 class="m-0">
                            165
                        </h5>
                    </div>
                    <div class="flex-grow-1">
                        <span class="text-small text-muted">
                            Last week
                        </span>
                        <h5 class="m-0">
                            32165
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
